<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>新闻管理系统</title>
    <script type="text/javascript">
        function delete_function(nid){
            if(window.confirm("确认是否删除？")){
                location.href = "?p=Home&a=delete&c=News&nid=" + nid;
            }
        }
    </script>
</head>
<body>
    <a href="?p=Home&a=index&c=Student">学生信息查看</a>
    <a href="?p=Home&a=index&c=News">新闻信息查看</a>
    <hr>
    <div style="text-align: center">
        <h2>-->新闻管理系统<--</h2>
        <a href="?p=Home&a=index&c=add" font-size="14px" >添加新闻</a>&nbsp;|&nbsp;当前目录共有新闻
        <?php echo "$records";?>条
    </div>

    <table border=1px width=1050 align="center" rules='all' cellpadding="5" >
        <tr align="center" >
            <td>新闻编号</td>
            <td>标题</td>
            <td>来源</td>
            <td>点击数</td>
            <td>发布时间</td>
            <td>操作</td>
        </tr>
    <?php foreach ($newData as $v): ?>
            <tr align="center">
                <td><?php echo $v["nid"] ?></td>
                <td align="left"><?php echo $v["title"] ?></td>
                <td><?php echo $v["source"] ?></td>
                <td><?php echo $v["hits"] ?></td>
                <td><?php echo $v["addate"] ?></td>
                <td>
                    <a href="#">修改</a>|
                    <a href="#" onClick="delete_function(<?php echo $v["nid"] ?>)">删除</a>
                </td>
            </tr>
        <?php endforeach; ?>
  <!--            <tr>
                <td colspan="8" height = '40px' align="center">
                    <?php
                        $start = $page - 4;
                        $end = $page + 5;

                        // 当起始页小于可显示栏时
                        if($start <= 0){
                            $start = 1;
                            $end = 10;
                        };
                        // 当最后一页大于可显示栏时
                        if($end >= $pages){
                            $start = $pages - 6;
                            $end = $pages;
                        }
                        for($i = $start ; $i < $end ; $i++){
                            // 当前页面不加链接
                            if($page == $i){
                                echo "<span>$i</span>";
                            }
                            else{echo "<a href='?page=$i'>".$i.' '."</a>";}
                        }
                    ?>
                </td>
            </tr>-->
    </table>


</body>
</html>